---
layout: base.njk
title: Blog
pagination:
  data: collections.post
  size: 5
  alias: posts
  reverse: true
permalink: "blog{% if pagination.pageNumber > 0 %}/page-{{ pagination.pageNumber + 1 }}{% endif %}/"
---

<h1>Tous mes articles</h1>

<p>Page {{ pagination.pageNumber + 1 }} sur {{ pagination.pages.length }}</p>

<ul>
{% for post in posts %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a> - 
    <em>{{ post.date | dateFormat }}</em>
  </li>
{% endfor %}
</ul>

<!-- Navigation pagination -->
<nav class="pagination-nav">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="pagination-prev">← Page précédente</a>
  {% endif %}
  
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="pagination-next">Page suivante →</a>
  {% endif %}
</nav>
